body{
  width: available;
  height: available;
}

.container{
  width: available;
  height: available;
}

.contactInfo {
  cursor: pointer;
  font-weight: bold !important;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
  min-width: 350px;
  border-collapse: collapse;
}

img.largeImage {
  width: 350px !important;
  height: 350px !important;   
}